.footerWrapper {
  position: static;
  bottom: 0;
  background: hsl(209, 28%, 39%);
  height: 55px;
  margin-top: 50px;
}
.linkedInIcon {
  width: 50px;
}
.githubIcon {
  width: 50px;
}
.footerIconWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.scrollToTopBtn {
  border: none;
  outline: none;
  background: transparent;
  position: relative;

  cursor: pointer;
  animation: bounce 1.5s infinite;
  -webkit-animation: bounce 1.5s infinite;
}
@-webkit-keyframes bounce {
  0% {
    bottom: 25px;
  }
  25%,
  75% {
    bottom: 27px;
  }
  50% {
    bottom: 30px;
  }
  100% {
    bottom: 23px;
  }
}
