.navbar {
  position: sticky;
  top: 0px;
  background: hsl(209, 28%, 39%);
  border-bottom: 2px solid hsl(185, 57%, 50%);
}
.navbar-toggle {
  position: absolute;
  background: transparent;
  border: none;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  top: 6px;
}
.mainNav {
  display: none;
}
.navbarBtn {
  border: none;
  background: transparent;
  font-size: 18px;
  color: hsl(209, 31%, 95%);
  outline: none;
  cursor: pointer;
}
.navBarListWrapper {
  margin: 0;
}
.navbar-closed {
  height: 35px;
}
.active {
  display: block;
  padding-top: 41px;
}
.navBarListItem {
  margin-right: 0px;
  text-align: center;
  /* margin-bottom: 15px; */
  padding-bottom: 25px;
}
@media only screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
    height: 70px;
    align-items: center;
  }
  .mainNav {
    display: -webkit-flex;
    display: flex;
    /* margin-right: 30px; */
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .active {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .navbar-toggle {
    display: none;
  }

  .navBarListWrapper {
    display: flex;
  }
  .navBarListItem {
    margin-right: 10px;
    padding-bottom: 0px;
    padding-left: 20px;
  }
}
