.projectsWrapper {
  height: 100%;
  text-align: center;
}
.projectContainer {
  margin: 0 auto;
  width: 94%;
  background: #f0f4f4;
  height: auto;
  border-radius: 16px;
  padding-bottom: 20px;
  color: hsl(209, 34%, 30%);
  margin-bottom: 50px;
}
.h2Projects {
  padding-bottom: 35px;
  color: hsl(209, 61%, 16%);
}
.reactdexDescContainer {
  margin: 0 auto;
  width: 88%;
  height: auto;
  padding-top: 11px;
}
.techList {
  width: 46%;
}
.projectImg {
  width: 100%;
}
.projectName {
  text-align: center;
  padding-bottom: 16px;
  padding-top: 16px;
}
.projectDescContainer {
  padding-top: 20px;
  position: relative;
  bottom: 4px;
}
.projectTechs {
  display: -webkit-flex;
  display: flex;
  border-bottom: 2px solid hsl(185, 62%, 45%);
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  padding-bottom: 20px;
  align-items: center;
}
.projectDesc {
  padding-top: 22px;
  width: 220px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.btnWrapper {
  display: flex;
  justify-content: space-evenly;
  padding-top: 13px;
}
.projectLinkBtn {
  border: none;
  /* color: hsl(209, 33%, 89%); */
  margin-top: 35px;
  margin-bottom: 11px;
  background: hsl(185, 81%, 29%);
  width: 84px;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
}
.projectLinkBtn:hover {
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
}

.projectLink {
  color: hsl(210, 36%, 99%);
}

.pokeApiLink {
  color: hsl(184, 91%, 23%);
}
.socketIoLink {
  color: hsl(184, 91%, 23%);
}
@media only screen and (min-width: 700px) and (max-width: 991px) {
  .projectDesc {
    width: 359px;
    font-size: 18px;
  }
  .projectTechs {
    font-size: 18px;
  }
  .projectDescContainer {
    padding-right: 17px;
    background: none;
    width: 100%;
  }
  .projectImgContiner {
    width: 100%;
  }

  .reactdexDescContainer {
    margin: 0 auto;
    display: flex;
    width: 88%;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 11px;
  }
}
@media only screen and (min-width: 992px) {
  .projectDesc {
    width: 359px;
    font-size: 18px;
  }
  .projectTechs {
    font-size: 18px;
  }
  .projectDescContainer {
    background: none;
    width: 50%;
    margin: 0 auto;
    right: 51px;
  }
  .projectImgContiner {
    width: 100%;
  }

  .reactdexDescContainer {
    margin: 0 auto;
    display: flex;
    width: 88%;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 11px;
  }
}
