.formWrapper {
  display: flex;
  flex-direction: column;
  background: #f0f4f4;
  width: 45%;
  margin: 0 auto;
  border-radius: 9px;
}
.contactForm {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  color: hsl(209, 61%, 16%);
}
.formField {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: hsl(209, 61%, 16%);
  border-bottom: 1px solid hsl(184, 57%, 50%);
}
.formLabel {
  padding-top: 16px;
  padding-bottom: 16px;
}
.footer {
  height: 25vh;
}
@media only screen and (max-width: 600px) {
  .formWrapper {
    width: 86%;
  }
}
